@font-face {
    font-family: "Roboto-black";
    src: url("../fonts/Robotoblack.eot");
    src: url("../fonts/Robotoblack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Robotoblack.woff") format("woff"),
    url("../fonts/Robotoblack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-italic";
    src: url("../fonts/Robotoitalic.eot");
    src: url("../fonts/Robotoitalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Robotoitalic.woff") format("woff"),
    url("../fonts/Robotoitalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.eot");
    src: url("../fonts/Roboto.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Roboto.woff") format("woff"),
    url("../fonts/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-medium";
    src: url("../fonts/Robotomedium.eot");
    src: url("../fonts/Robotomedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Robotomedium.woff") format("woff"),
    url("../fonts/Robotomedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-bold";
    src: url("../fonts/Robotobold.eot");
    src: url("../fonts/Robotobold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Robotobold.woff") format("woff"),
    url("../fonts/Robotobold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-light";
    src: url("../fonts/Robotolight.eot");
    src: url("../fonts/Robotolight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Robotolight.woff") format("woff"),
    url("../fonts/Robotolight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}